.box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    padding: 30px;
}

.city-form{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
}

.weather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-description{
    font-size: 20px;
    color: #000;
}

.musics{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.music{
    cursor: pointer;
}

.album-image{
    width: 250px;
    height: 200px;
}

.music-title{
    text-align: center;
}

.player{
    margin-top: -350px;
    border-radius: 8px;
    opacity: 0.95;
}

.climate-image{
    border-radius: 8px;
}

.search-button{
    width: 100%;
    margin-top: 20px;
}

.sign-out-button{
    width: 100%;
    margin-top: 20px;
}