.box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    padding: 50px;
}

.city-form{
    height: 520px;
    padding: 30px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #121212;
    border-radius: 8px;
}

.weather{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.musics{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.music{
    cursor: pointer;
}

.album-image{
    width: 250px;
    height: 200px;
}

.music-title{
    text-align: center;
}

.player{
    margin-right: 50px;
    margin-top: 20px;
    width: 400px;
    height: 400px;
    border-radius: 8px;
    opacity: 0.95;
}

.search-button{
    width: 100%;
    margin-top: 50px;
}

.sign-out-button{
    width: 100%;
    margin-top: 20px;
}

.logo{
    margin-bottom: 30px;
    width: 150px;
    height: 150px;
}

.climate-image{
    position: absolute;
    top: 20px;
    right: 50px;
    width: 64px;
    height: 64px;
}

.weather-description{
    position: absolute;
    top: 70px;
    right: 50px;
    font-size: 24px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

.weather-box{
    background: #121212;
    width: 400px;
    height: 520px;
    border-radius: 8px;
}

.temperature{
    font-size: 32px;
    position: absolute;
    top: 60px;
    left: 35px;
}

.city-title{
    font-weight: bold;
    position: absolute;
    top: 25px;
    left: 30px;
}

.sunrise{
    position: absolute;
    top: 133px;
    left: 55px;
}

.sunset{
    position: absolute;
    top: 133px;
    left: 155px;
}

.sunset-img{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 135px;
    left: 130px;
}

.sunrise-img{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 135px;
    left: 30px;
}

.feels-like{
    position: absolute;
    top: 175px;
    left: 30px;
}

.list-group{
    position: absolute;
    top: 270px;
    left: 30px;
    width: 330px;
}

.list-group-item{
    position: relative;
    height: 55px;
    background: #212121!important;
}

.advanced{
    position: absolute;
    top: 15px;
    left: 50px;
    font-weight: 500;
}

.temp-max{
    position: absolute;
    top: 225px;
    left: 30px;
}

.temp-min{
    position: absolute;
    top: 225px;
    left: 120px;
}

.btn{
    color: #212121;
}

.card{
    background: #121212;
    width: 400px;
    height: 100px;
}