.city-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #dbdbdb;
    border-radius: 8px; */
}

.weather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.musics{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.music{
    cursor: pointer;
}

.album-image{
    width: 250px;
    height: 250px;
}

.music-title{
    text-align: center;
}

.player{
    margin-top: -350px;
    border-radius: 8px;
    opacity: 0.95;
}

.climate-image{
    border-radius: 8px;
}